// leftApproach animation
.left-approach-enter-active {
  transition: all 0.3s ease-in;
}

.left-approach-leave-active {
  transition: all 0.3s ease-out;
}

.left-approach-enter-from,
.left-approach-leave-to {
  transform: translateX(rem(-300));
}

.left-approach-enter-to {
  transform: translateX(0);
}
