$highlight-color: #ff66dd;
$primary-color: #fff;
$secondary-color: #ededed;
$sidebar-color: #fdfdfd;
$primary-text-color: #000;
$secondary-text-color: #8c8c8c;
$border-color: #e2e2e2;
$transparent: rgba(255, 255, 255, 0);
