.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  min-width: rem(300);
  max-width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  @include adaptiveValue("padding-top", 50, 45);
  @include adaptiveValue("padding-bottom", 25, 10);
  gap: rem(20);
  z-index: 2;

  &__header {
  }

  &__stack {
    color: lightgray;
    padding-left: rem(25);
    padding-right: rem(25);
    padding-bottom: rem(20);
    border-bottom: rem(1) solid lightgray;
    font-size: rem(16);
    user-select: none;
  }

  &__menu {
  }
}
.header-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include adaptiveValue("margin-top", 20, 0);
  gap: rem(10);

  &__avatar {
    @include adaptiveValue("width", 125, 100);
    @include adaptiveValue("height", 125, 100);
    border-radius: 50%;
    background-color: rgb(240, 240, 240);
  }

  &__nickname {
    font-weight: 500;
    @include adaptiveValue("font-size", 32, 24);
    user-select: none;
  }

  &__status {
  }
}
.menu-sidebar {
  &__item {
  }

  &__icon {
  }

  &__name {
  }
}

.status-sidebar {
  display: flex;
  align-items: center;

  &__icon {
    width: rem(12);
    height: rem(12);
    border-radius: 50%;
    background-color: lightgreen;
    margin-right: rem(5);
    margin-top: rem(3);
  }

  &__text {
    @include adaptiveValue("font-size", 22, 18);
    user-select: none;
  }
}

.menu-sidebar {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 100%;
  flex-basis: 100%;

  &__item {
    display: flex;
    align-items: center;
    width: 100%;
    @include adaptiveValue("gap", 25, 10);
    padding: rem(10) 0 rem(10) rem(30);
    cursor: pointer;
    user-select: none;

    @media (any-hover: hover) {
      &:hover {
        background-color: lightgray;
      }
    }
  }

  &__icon {
    color: gray;
    @include adaptiveValue("font-size", 22, 18);
  }

  &__name {
    @include adaptiveValue("font-size", 22, 18);
    font-weight: 500;
  }
}

.footer-sidebar {
  &__text {
    text-align: center;
    color: lightgray;
    font-size: rem(16);
    line-height: 20px;
    user-select: none;
  }
}
