@import "base/fonts.scss";
@import "base/variables.scss";
@import "base/functions.scss";

// General styles
html {
  font-family: "Montserrat", "sans-serif";
  font-size: $primary-text-size;
  font-weight: $regular;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "@/components/App";
