.chat {
  display: flex;
  align-items: stretch;
  @include adaptiveValue("gap", 30, 10);
  @include adaptiveValue("padding-top", 15, 10);
  @include adaptiveValue("padding-bottom", 15, 10);
  @include adaptiveValue("padding-left", 30, 10);
  @include adaptiveValue("padding-right", 30, 10);
  cursor: pointer;
  user-select: none;

  @media (any-hover: hover) {
    &:hover {
      background-color: lightgray;
    }
  }
}

.start-chat {
  position: relative;

  &__avatar {
    @include adaptiveValue("width", 70, 60);
    @include adaptiveValue("height", 70, 60);
    background-color: rgb(240, 240, 240);
    border-radius: 50%;
  }

  &__online {
    position: absolute;
    bottom: 0;
    @include adaptiveValue("left", 52, 43);
    @include adaptiveValue("width", 20, 15);
    @include adaptiveValue("height", 20, 15);
    border-radius: 50%;
    border: 3px solid white;
    background-color: lightgreen;
  }
}
.main-chat {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: auto 0;
  width: 100%;

  &__nickname {
    @include adaptiveValue("margin-bottom", 16, 5);
    font-weight: 500;
  }

  &__last-message {
    @include adaptiveValue("font-size", 18, 16);
  }
}
.last-chat {
  margin: auto 0;

  &__date {
    color: gray;
  }
  &__status {
    display: flex;
    align-items: center;
    margin-top: rem(7);
  }
}
